<div class="d-flex justify-content-around align-items-center w-100">
    <div class="d-flex justify-content-between me-5">
      <%= link_to root_path do %>
        <%= fa_icon("instagram") %>
      <% end %>
      <%= link_to root_path, class:'px-5' do %>
        <%= fa_icon("facebook-f") %>
      <% end %>
      <%= link_to root_path do %>
        <%= fa_icon("whatsapp") %>
      <% end %>
    </div>
    <%= link_to 'Sobre', about_path %>
    <%= link_to 'Contato', contact_path %>

</div>
