<p id="notice"><%= notice %></p>
<div class="articles shadow-sm container col-sm-12 col-md-10 col-lg-8 col-xl-6">
    <h1 class="h2">Posts</h1>
    <div class="d-flex justify-content-around">
      <h2 class="h5">Title</h2>
      <h2 class="h5">Body</h2>
      <h2 class="h5">Name</h2>
    </div>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.body %></td>
        <td><%= post.name %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  <h1>teste</h1>
</div>
