<div class="row">
  <div class="col-6">
    <h1>Usuários</h1>
  </div>
  <div class="col-6">
    <%= link_to fa_icon("plus", text: "Novo usuário"), new_admin_user_path, class: "btn btn-primary float-end" %>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Email</th>
      <th>Nome</th>
      <th>Tipo</th>
      <th width="150px">Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.nome %></td>
        <td><%= user.tipo %></td>
        <td>
          <%= link_to fa_icon("eye"), admin_user_path(user), class: "btn btn-sm btn-success" %>
          <%= link_to fa_icon("edit"), edit_admin_user_path(user), class: "btn btn-sm btn-primary" %>
          <%= link_to fa_icon("trash"), admin_user_path(user), class: "btn btn-sm btn-danger", method: :delete, data: { confirm: 'Você tem certeza?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>