<!DOCTYPE html>
<html>
  <head>
    <title>Admin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header class="bd-header bg-dark py-3 d-flex align-items-stretch border-bottom border-dark mb-3">
      <div class="container-fluid d-flex align-items-center">
        <h1 class="d-flex align-items-center fs-4 text-white mb-0">
          <img src="<%= image_path("logo.png") %>" width="38" height="30" class="me-3" alt="Nucleus">
          Nucleus Blog Teste
        </h1>
        <div class="dropdown ms-auto">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Minha conta
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li>
              <%= link_to "Minha conta", admin_user_path(@current_user), class: "dropdown-item" %>
            </li>
            <li>
              <%= link_to "Sair", logout_admin_users_url, class: "dropdown-item"%>
            </li>

          </ul>
        </div>
      </div>
    </header>

    <%= render "admin/shared/system_alerts" %>

    <main>
      <div class="container-fluid">

        <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
            <%= render "admin/shared/navbar_left" %>
          </div>
          <div class="col-lg-10 col-md-10 col-sm-9 col-xs-12">
            <%= yield %>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
