<!DOCTYPE html>
<html>
  <head>
    <title>Admin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-light d-flex flex-column align-items-center justify-content-between">
    <%= render 'admin/users/shared/alerts' %>
    <%= yield %>
    <div class="image_footer bg-info d-flex align-items-center">
      <%= link_to fa_icon('fa-arrow-up'), color:'green', class:'bg-danger' %>
    </div>
  </body>
</html>
