<!DOCTYPE html>
<html>
  <head>
    <title>Blog Nucleus</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-light d-flex flex-column justify-content-between">
    <div class="header d-flex justify-content-between text-white">
      <%= render 'admin/users/shared/header' %>
    </div>
    <main>

      <%= render 'admin/users/shared/alerts' %>
      <%= yield %>
    </main>
    <div class="footer d-flex justify-content-between bg-dark text-white">
      <%= render 'admin/users/shared/footer' %>
    </div>
  </body>
</html>
